.header-container{
   padding: 15px 10px;
   align-items: center;
   border-bottom: 1px solid lightgray;

   .current-page{
     font-size: 28px;
     color: #545454;
     font-weight: 600;
     text-transform: capitalize;
   }

   .current-user{
      .avatar{
         height: 50px;
         width: 50px;
         border-radius: 25px;
      }
   }
}